h1 {
font-family: "Courier New", Courier, monospace;
font-size: 25px;
letter-spacing: 2px;
word-spacing: 2px;
color:#f5f5f5 ;
font-weight: normal;
text-decoration: underline solid rgb(68, 68, 68);
font-style: italic;
font-variant: normal;
text-transform: none;
}





