$gutter-horizontal: 2rem;
$gutter-vertical: 6rem;
$grid-width: 128rem;

$color-grey-1: #f7f7f7;
$color-lightgreen: #7ed56f;
$color-darkgreen: #28b485;
$color-green: #56de01;
$color-second-1: #ffb900;
$color-second-2: #ff7730;
$color-third-1: #2998ff;
$color-third-2: #5643fa;

$vh: 168rem;
$vw: 120rem;
$maxw: 135rem;

$default-font: 1.7rem;