a{
    text-decoration: none;
    color: rgb(0,0,0);
}
.heading-tertiary{
    font-size: 4rem;
    @media screen and (max-width: 600px) {
      margin-top: 2.4rem;
      font-size: 2.1rem;
    }
}
.para{
    font-size: 1.7rem;
}
@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}